<% include partials/header.ejs %>
<div id="header">
<h2>Election status: <%= eStatus %>
</h2>
<img id="icon" src="icon.png"/>
</div>
<form method="GET" action="/candidates">
<input type="submit" value="Show Candidates"/>
</form>
<% if(eStatus!="Not Started"){ %>
<form method="POST" action="/voter">
<b>Enter voter ID: </b>
<input type="textbox" name="voterId" REQUIRED/>
<input type="submit" value="Check Vote"/>
</form>
<% } %>
<% if(eStatus=="Started"){ %>
<form method="POST" action="/vote">
<b>Enter voter ID: </b>
<input type="textbox" name="voterId" REQUIRED/><br><br>
<b>Select Candidate: </b>
<select name="candidate">

	<% candidates.forEach(function(candidate){ %>
	<option value='<%= candidate.Key %>'>
		<%= candidate.Record.name %>
	</option>
	<% }) %>

</select>
<br><br>
<input type="submit" value="Vote"/>
</form>
<% } %>
<% if(eStatus=="Ended"){ %>
<form method="GET" action="/results">
<input type="submit" value="Show Results"/>
</form>
<% } %>
<% include partials/footer.ejs %>
