<% include partials/header.ejs %>
<% if(eStatus!="Ended"){ %>
<div id="header">
<h2>Election has not ended. Please check later</h2>
<img id="icon" src="icon.png"/>
</div>
<a href='/'><input type='button' value='Home'/></a>
<% } else { %>
<div id="header">
<h2>Results</h2>
<img id="icon" src="icon.png"/>
</div>
<table>
	<tr>
		<th>Name</th>
		<th>Party</th>
		<th>Votes</th>
	</tr>
	<% candidates.forEach(function(candidate){ %>
	<tr>
		<td><%= candidate.name %></td>
		<td><%= candidate.party %></td>
		<td><%= candidate.votes %></td>
	</tr>
	<% }) %>
<table>
<a href='/'><input type='button' value='Home'/></a>
<% } %>
<% include partials/footer.ejs %>
