<% include partials/header.ejs %>
<div id="header">
<h2>Voter Details</h2>
<img id="icon" src="icon.png"/>
</div>
<% if(eStatus=="Not Started"){ %>
<h3>Election has not started. Please check later</h3>
<a href='/'><input type='button' value='Home'/></a>
<% } else if(valid) { %>
<h3>Voter Id: 
<%= voterId %>
</h3>
<br>
<h3>Status: 
<%= vStatus %>
</h3>
<a href='/'><input type='button' value='Home'/></a>
<% } else if(valid) { %>
<% } else { %>
<h3>Invalid voter ID</h3>
<a href='/'><input type='button' value='Home'/></a>
<% } %>
<% include partials/footer.ejs %>
