<% include partials/header.ejs %>
<div id="header">
<h2>Vote</h2>
<img id="icon" src="icon.png"/>
</div>
<p>
<%= message %>
</p>
<a href='/'><input type='button' value='Home'/></a>
<% include partials/footer.ejs %>
